In [1]:
import pandas as pd 
import numpy as np 
import re

In [2]:
file_path=(r"C:\Users\abhis\Downloads\archive (16)\dataset.csv")
df = pd.read_csv(file_path).sample(frac=0.1, random_state=42)

In [3]:
df.shape

(641711, 5)

In [4]:
df.head()

,app_id,app_name,review_text,review_score,review_votes
301327,12210,Grand Theft Auto IV: The Complete Edition,Best bowling simulator 2014 10/10 It has good ...,1,1
1662500,226320,Marvel Heroes Omega,Marvel characters? Check. Tons of loot? Check....,1,0
2061157,236450,PAC-MAN Championship Edition DX+,This game while its not the original is defina...,1,0
1171799,218620,PAYDAY 2,"This game ♥♥♥♥ing awesome ,You can be professi...",1,0
1450080,221640,Super Hexagon,"If you are high, play this game. 420/420 would...",1,0

In [5]:
print(df.iloc[1]["review_text"])

Marvel characters? Check. Tons of loot? Check. Tons of characters/classes? Check. Interesting events? Check. LFG? GTFO, You can solo this. Marvel fan? Diablo fan? Good this is for you. Not a marvel fan? Still better than D3 (2013).

In [6]:
df['review_score'].value_counts()

review_score
 1    526564
-1    115147
Name: count, dtype: int64

In [7]:
df.shape

(641711, 5)

In [8]:
df.isnull().sum()

app_id              0
app_name        18435
review_text       695
review_score        0
review_votes        0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 641711 entries, 301327 to 310755
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   app_id        641711 non-null  int64
 1   app_name      623276 non-null  object
 2   review_text   641016 non-null  object
 3   review_score  641711 non-null  int64
 4   review_votes  641711 non-null  int64
dtypes: int64(3), object(2)
memory usage: 29.4+ MB

In [10]:
df["review_text"] = df["review_text"].astype(str)
df["review_votes"] = df["review_votes"].astype(str)

df.review_text = df.review_text.apply(lambda s : s.strip())
df1 =df[df["review_score"].notnull()]
df1["review_score"] = np.where(df1["review_score"] == -1,0, df1["review_score"])
df1.head()

,app_id,app_name,review_text,review_score,review_votes
301327,12210,Grand Theft Auto IV: The Complete Edition,Best bowling simulator 2014 10/10 It has good ...,1,1
1662500,226320,Marvel Heroes Omega,Marvel characters? Check. Tons of loot? Check....,1,0
2061157,236450,PAC-MAN Championship Edition DX+,This game while its not the original is defina...,1,0
1171799,218620,PAYDAY 2,"This game ♥♥♥♥ing awesome ,You can be professi...",1,0
1450080,221640,Super Hexagon,"If you are high, play this game. 420/420 would...",1,0

In [11]:
df1["review_score"].value_counts()

review_score
1    526564
0    115147
Name: count, dtype: int64

In [12]:
df1 = df1[df1.review_text != "Early Access Review"]
df1 = df1[~df1.review_text.isin(['nan'])]

df1.drop_duplicates(['review_text', 'review_score'], inplace= True)

In [13]:
df1.head()

,app_id,app_name,review_text,review_score,review_votes
301327,12210,Grand Theft Auto IV: The Complete Edition,Best bowling simulator 2014 10/10 It has good ...,1,1
1662500,226320,Marvel Heroes Omega,Marvel characters? Check. Tons of loot? Check....,1,0
2061157,236450,PAC-MAN Championship Edition DX+,This game while its not the original is defina...,1,0
1171799,218620,PAYDAY 2,"This game ♥♥♥♥ing awesome ,You can be professi...",1,0
1450080,221640,Super Hexagon,"If you are high, play this game. 420/420 would...",1,0

In [14]:
df1.shape

(515744, 5)

In [15]:
import emoji

def extract_emojis(text):
    return "".join(char for char in str(text) if char in emoji.EMOJI_DATA)

df1['emojis_found'] = df1['review_text'].apply(extract_emojis)

# Show only rows that have emojis
df_reviews_with_emojis = df1[df1['emojis_found'] != '']
print(df_reviews_with_emojis[['review_text', 'emojis_found']])

                                               review_text     emojis_found
1171799  This game ♥♥♥♥ing awesome ,You can be professi...             ♥♥♥♥
3403956  I hope the game is good, but I CAN'T EVEN STAR...             ♥♥♥♥
1052101  Once a good game, then turned to ♥♥♥♥ by a 'ba...             ♥♥♥♥
2549863  'God, I'm going fast...God, that was close...G...             ♥♥♥♥
2953816  -Buy game during sale -buy it for your friend ...             ♥♥♥♥
...                                                    ...              ...
1645173  This is, without a doubt, one of the best vide...                ♥
5166673  so this game has been the biggest hassle to pl...  ♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥
5731061  After I have played ROME 2: TOTAL WAR ( best T...            ♥♥♥♥♥
1164050  Gameplay is good, the game is seriously fun, b...             ♥♥♥♥
310755   GTA 4 is probablly the first GTA where i got t...             ♥♥♥♥

[36083 rows x 2 columns]

In [16]:
def replace_hearts_with_PAD(text):
    return re.sub(r"[♥]+", ' **** ' ,text)

In [17]:
def clean(raw):
    """ Remove hyperlinks and markup """
    result = re.sub("<[a][^>]*>(.+?)</[a]>", 'Link.', raw)
    result = re.sub('&gt;', "", result)
    result = re.sub('&#x27;', "'", result)
    result = re.sub('&quot;', '"', result)
    result = re.sub('&#x2F;', ' ', result)
    result = re.sub('<p>', ' ', result)
    result = re.sub('</i>', '', result)
    result = re.sub('&#62;', '', result)
    result = re.sub('<i>', ' ', result)
    result = re.sub("\n", '', result)
    return result

In [18]:
def deEmojify(x):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'', x)

In [19]:
def remove_num(texts):
    output = re.sub(r'\d+', '', texts )
    return output

In [20]:
def unify_whitespaces(text):
    cleaned_string = re.sub(' +', ' ', text )
    return cleaned_string

In [21]:
def remove_punctuation(text):
    result = "".join(u for u in text if u not in ("?", ".", ";", ":",  "!",'"',',') )
    return result

In [22]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

nlp = spacy.load("en_core_web_sm")

def remove_stopwords(text):
    doc = nlp(text)
    text = [token.text.lower() for token in doc if token.text.lower() not in STOP_WORDS]
    return ' '.join(text)

In [23]:
from spacy.lang.en.stop_words import STOP_WORDS

nlp = spacy.load("en_core_web_sm")

def stemming(text):
    doc = nlp(text)
    stemmed_words = [token.lemma_ for token in doc if token.text.lower() not in STOP_WORDS]
    return ' '.join(stemmed_words)

In [ ]:
def cleaning(df, review):
    df_processed = df.copy()
    df_processed[review] = df_processed['review_text']
    df_processed[review] = df_processed[review].apply(clean)
    df_processed[review] = df_processed[review].apply(deEmojify)
    df_processed[review] = df_processed[review].apply(replace_hearts_with_PAD)
    df_processed[review] = df_processed[review].apply(remove_num)
    df_processed[review] = df_processed[review].apply(remove_punctuation)
    df_processed[review] = df_processed[review].apply(remove_stopwords)
    df_processed[review] = df_processed[review].apply(unify_whitespaces)
    df_processed[review] = df_processed[review].apply(Stemming)
    return df_processed

df_processed = cleaning(df1, 'review_text_clean' )

In [67]:
import spacy
import pandas as pd

# Load spaCy model
nlp = spacy.load('en_core_web_sm')

# Example text
text = "This is a simple sentence, and I love programming."

# Function to remove stopwords and perform stemming
def preprocess_text(text):
    # Parse text with spaCy
    doc = nlp(text)
    
    # Remove stopwords and perform stemming
    processed_text = " ".join([token.lemma_ for token in doc if not token.is_stop])
    
    return processed_text

# Sample dataframe with review text
df = pd.DataFrame({
    'review_text': [
        "I love this product! It's amazing.",
        "This is the worst thing I've ever bought.",
        "Quality is good, would recommend."
    ]
})

# Apply preprocessing
df['processed_text'] = df['review_text'].apply(preprocess_text)

print(df[['review_text', 'processed_text']])

                                 review_text              processed_text
0         I love this product! It's amazing.    love product ! amazing .
1  This is the worst thing I've ever bought.             bad thing buy .
2          Quality is good, would recommend.  quality good , recommend .